<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- Embedded database (H2) - DO NOT use fwor real projects!!! -->
    <!--<data-source>-->
        <!--<name>java:global/StudentsDataSource</name>-->
        <!--<class-name>org.h2.jdbcx.JdbcDataSource</class-name>-->
        <!--<url>jdbc:h2:~/h2database/StudentsDB;AUTO_SERVER=TRUE;INIT=RUNSCRIPT FROM 'classpath:h2database/createdb.sql'</url>-->
        <!--<user>sa</user>-->
        <!--<password>sa</password>-->
    <!--</data-source>-->
    <!-- PostgreSQL: create database "studentsdb", create tables using example in PostgreSQL-StudentsDB.txt -->

    <data-source>
        <name>java:global/TrafficDataSource</name>
        <class-name>org.postgresql.ds.PGSimpleDataSource</class-name>
        <url>jdbc:postgresql://localhost/traffic?user=postgres&amp;password=postgres</url>
        <user>postgres</user>
        <password>postgres</password>
    </data-source>
</web-app>
